<!-- BOOTSTRAP LINK -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<!-- Owl-Carousel -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
integrity="sha256-kksNxjDRxd/5+jGurZUJd1sdR2v+ClrCl3svESBaJqw=" crossorigin="anonymous" />

<!-- FONT AWESOME CDN -->
<script src="https://kit.fontawesome.com/3bb9d2c9bc.js" crossorigin="anonymous"></script>

<!-- CSS -->
<link rel="stylesheet" href="../public/css/signup.css" type="text/css">

<div class="outer-box">
<div class="container-box">
    <div class="panel-box">
        <div class="row-css">
            <div class="col-css login">
                <button type="button" class="btn-css btn-login btn btn-primary btn-block rounded-pill"><a class="text-white" href="/auth/login">Log in</a></button>
                <form method="POST" action="/auth/signup">
                    <div class="titles">
                    <h2>New Here ?</h2>
                    </div>
                    <div class="form-group-css">
                    <input type="text"  class="form-input" name="username" placeholder="Username">
                    <div class="input-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    </div>
                    <div class="form-group-css">
                    <input type="email"  class="form-input" name="email" placeholder="Email">
                    <div class="input-icon">
                            <i class="fas fa-envelope"></i>
                    </div>
                    </div>  
                    <div class="form-group-css">
                    <input type="password"  class="form-input" name="password" placeholder="Password">
                    <div class="input-icon">
                        <i class="fas fa-lock"></i>
                    </div>
                    </div>    
                    <button type="submit" class=" btn-css btn-signup btn btn-primary btn-block rounded-pill" > Sign Up </button>
                </form>
            </div>
            <div class="col-css liquid">
                <h4><a class="text-white" href="/auth/signup"><i class="fas fa-home"></a></i></h4>
                <!-- Owl-Carousel -->
                <div class="owl-carousel owl-theme">
                    <img src="../public/img/login-authentication.svg" alt="login-authentication" class="login_img">
                    <img src="../public/img/login-cart.svg" alt="login-cart" class="login_img">
                    <img src="../public/img/login-secure_login.svg" alt="login-secure_login" class="login_img">
                </div>
                <!-- /Owl-Carousel -->
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
</div>
<script>
    $(document).ready(function () {

        $('.owl-carousel').owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            items: 1
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="../public/js/signup.js" ></script>
