/* google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap');

.outer-box{
  height: 100%;
  overflow: hidden;
  background: #096d9e;
  background: var(--ocean-gradient);
}

/* Variables */
:root{
  --primary-gradient: linear-gradient(to right, #4e4347, #2b5876);
  --ocean-gradient: linear-gradient(to right, #3dcada, #121ab9);
  --text-color: #f7f9f9;
  --Montserrat: "Montserrat", cursive;
  --Lobster: "Lobster", cursive;
  --primary-shadow: 3px 4px 7px rgba(27, 27, 27, 0.534);
  --border-color: rgba(0,0,0,0.329);
}

.container-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98%;
  max-height: 610px;

}

.container-box .panel-box{
    padding-top: 5rem;
    width: 60%;
    height: 90%;
    box-shadow: var(--primary-gradient);
}

.row-css{
  display: grid;
  grid-template-columns: 45% 55%;
  height: 100%;
  background: #fff;
}

.liquid{
  background: url('../img/waveflip.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.liquid h4{
  text-align: right;
  padding: 1rem 2rem;
  color: whitesmoke;
  font-family: var(--Montserrat);
}

.owl-carousel{
  padding-top: 1rem;
  width: 100%;
  height: 320px;
  max-height: 330px;
}


.owl-carousel .owl-item .login_img{
  float: right;
  width: 400px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 3rem;
}


.owl-dots .active span{
  background: #ffd765 !important;
  margin: .3rem .5rem !important;
}


/* LOGIN_COLUMN */

.form-control{
  min-height: 38px;
  border-radius: 2px;
}


.btn-css{
  padding: .5rem 1.5rem;
  border: none;
  border-radius: 4rem;
  color: whitesmoke;
  font-size: .7rem;
  font-family: var(--Montserrat);
  box-shadow: var(--primary-shadow);
  cursor: pointer;
}


.login, 
form .btn-signup{
    float: right;
    margin: 1rem;
}

.btn-login{
  float: left;
  margin: 1rem;

}



.titles{
  margin-bottom: 2.2rem;
}


form{
  padding-top: rem;
  height: 55%;
  max-height: 280px;
  margin-top: 5.5rem;
}

form h2{
  font-family: var(--Montserrat);
  padding: 0;
  margin: 0;
  padding-left: 5rem;
}


form .form-group-css{
  margin-left: 3rem;
  width: fit-content;
  text-align: left;
  border: 1px solid var(--border-color);
  margin-top: .9rem;
  margin-right: 2rem;
  border-radius: 3rem;
}

form .form-group-css .form-input{
  padding: .5rem 1rem;
  background: transparent;
  border: none;
  font-family: var(--Montserrat);
  font-size: .9rem;
  overflow: hidden;
}

form input:focus{
  outline: none;
}

form .input-icon{
  display: inline;
  color: var(--border-color);
  padding-right: 1rem;
}

form .btn-signup{
  float: none;
  padding: .8rem 5rem;
  margin-left: 5.2rem;
}




a:link {
  text-decoration: none;
}
