<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/3bb9d2c9bc.js" crossorigin="anonymous"></script>
  <!-- Glidejs -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css">
  
  <!-- Custom StyleSheet -->

  <link rel="stylesheet" href="../../public/css/home.css" />
  <link rel="stylesheet" href="../../public/css/account.css" />
</head>

<body>
  
  <%- include("../partials/nav.ejs") %>
  
  <section class="section promotion">
    <!-- Account -->
    
    <div class="body-account">
      <div class="card-details">
        
           <div class="details-card"> 
          <img src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg" class="image--cover">
        
        <h1 class="h1-details">First Last</h1>
        </div>
      <details class="warning" open>
          <summary> Account Overview</summary>
          <p class='field'>
            <label for='user'>Name</label>
            <input type='text' id='user' name='user' title='Username' placeholder="Naveen Yadav" />
          </p>

          <p class='field'>
            <label for='user'>E-MAIL</label>
            <input type='text' id='user' name='user' title='Username' placeholder="abc@gmail.com" />
          </p>

          <p class='field'>
            <label for='user'>Password</label>
            <input type='Password' id='user' name='user' title='Username' placeholder="*********" />
          </p>

        </details>
        
        <details class="info" >
          <summary>Shipping Address</summary>
        <p class='field'>
            <label for='user'>Line 1</label>
            <input type='text' id='user' name='user' title='Username' placeholder="--------" />
          </p>

          <p class='field'>
            <label for='user'>Line 2</label>
            <input type='text' id='user' name='user' title='Username' placeholder="--------" />
          </p>

          <p class='field'>
            <label for='user'>State</label>
            <input type='text' id='user' name='user' title='Username' placeholder="Delhi" />
          </p>

          <p class='field'>
            <label for='user'>Country</label>
            <input type='text' id='user' name='user' title='Username' placeholder="India" />
          </p>

          <p class='field'>
            <label for='user'>Postal Code</label>
            <input type='text' id='user' name='user' title='Username' placeholder="110043" />
          </p>

          <p class='field'>
            <label for='user'>Phone no</label>
            <input type='text' id='user' name='user' title='Username' placeholder="xxx-xxx-xxxx" />
          </p>


        </details>
        
        <details class="alert">
          <summary>Payment Options</summary>
          <p class='field'>
            <label for='user'>Card 1</label>
            <input type='text' id='user' name='user' title='Username' placeholder="--------" />
          </p>

          <p class='field'>
            <label for='user'>Card 2</label>
            <input type='text' id='user' name='user' title='Username' placeholder="--------" />
          </p>
        </details>
      </div>
      </div>
    
    
    <!-- Account -->
  </section>
  
  <%- include("../partials/allfooter.ejs") %>
<!-- Glidejs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>

<!-- Custom Scripts -->
<script src="../../public/js/home.js"></script>
<script src="../../public/js/slider.js"></script>
</body>

</html>